/* Estilos para la página */
body {
    background-image: url('/imagenes/formularios.png'); /* Ruta a tu imagen de fondo en la carpeta "imagenes" */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace al hacer scroll */
    background-color: #e0f2f1; /* Color de fondo en caso de que la imagen no se cargue */
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los elementos del formulario */
.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}